* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

.container-img img {
    max-width: 100%;
}

.form{
    border: 50px solid #FC9502;
}

.form a {
    color: #FC9502;
}

.form-control input {
    color: #FC9502;
}

button.btn{
    background-color: #FC9502;
    border: 0;
}

button.btn:hover {
    background-color: #ca7805;
}

.alert input {
    width: 50%;
}

.alert-success input{
    display: inline-block;
    margin: 10px;
}

i.fa-copy {
    cursor: pointer;
    font-size: 22px;
}

.copied{
    display: none;
    width: 100%;    
    z-index: 99999;
    padding: 10px 2%; 
    text-align: center;  
    color: #338a48;
    font-weight: bold;
    font-size: 14px;
    background: #D4EDDA;
}

.box-alert i.fa-check {
    color: #338a48;
}

.page-404 h3 {
    font-style: italic;
    font-weight: 100;
    text-decoration: underline;
}

.sucesso{
    display: none;
    position: fixed;
    right: 28px;
    top: 80px;
    width: 25%;    
    z-index: 99999;
    padding: 10px 2%; 
    text-align: center;  
    color: #008000;
    font-weight: bold;
    font-size: 14px;
    background: #dff2bf;
}

.erro{    
    background: #f75353;
    color: white; 
}

.erro{
    display: none;
    position: fixed;
    right: 60px;
    top: 150px; 
    z-index: 99999;
    padding: 5px 2%; 
    text-align: center;  
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #f75353;
}

.atencao-static{
    background: #F4B03E;
    color: #fff;
}

.atencao{
    display: none;
    position: fixed;
    right: 28px;
    top: 80px;
    width: 25%;    
    z-index: 99999;
    padding: 10px 2%; 
    text-align: center;  
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #F4B03E;
}


/*Login*/

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);  
    }
  
  .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
  
  input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  button.reset-button {
      background-color: #72a872;
      border: 0;
  }

  button.reset-button:hover {
      background-color: #008000;
      border: 0;
  }
  
